@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    string person = User.Identity.IsAuthenticated ? @Model.Nme : "guest!!!";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="row text-center">
        <div class="col">
            <h1 class="display-4">Language Collector</h1>
            <p>
                This service allows you to organize learning a language. Be sure to keep working to be more talkative!!!
            </p>
        </div>
    </div>
}