@page
@model lngCollector.Pages.lngActionsModel
@{
}

<h3>
    ACTIONS
    <a class="ml-2 btn btn-link" asp-page="/users/LngSettings">LNG</a>
</h3>

<div class="raw">

    <a asp-page="/matrix/all" class="btn">
        <img src="/img/icons8-matrix-60.png"/>
    </a>

    <a asp-page="/total/cosmos" class="btn">
        <img src="/img/icons8-sigma-48.png"/>
    </a>
</div>
