@page
@model lngCollector.Pages.Users.ChangePasswordModel
@{
}


<form method="post" class="row">

    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

    <div class="form-group row">
        <span class="text-danger" asp-validation-for="password"></span>
        <div class="col-2">
            <label asp-for="password"></label>
        </div>
        <div class="col-5">
            <input type="text" asp-for="password" class="form-control" />
        </div>
    </div>

    <div class="form-group row mt-2">
        <span class="text-danger" asp-validation-for="confirm_password"></span>
        <div class="col-2">
            <label asp-for="confirm_password"></label>
        </div>
        <div class="col-5">
            <input type="text" asp-for="confirm_password" class="form-control" />
        </div>
    </div>

    <div class="form-group row mt-2">
        <div class="col">
            <input type="submit" class="btn btn-link" value="Save" />
        </div>
    </div>

</form>