@page "{handler?}/{lngid?}"
@model lngCollector.Pages.Users.LngSettingsModel
@{
}

<a class="ml-2 btn btn-link" asp-page="/lngactions">back</a>
<hr/>

@foreach (var item in Model.Lngs)
{
    <a class="ml-2 btn btn-link" asp-page-handler="SetLng" asp-route-lngid="@item.id">@item.name</a>
}