@page
@model lngCollector.Pages.Users.LoginModel
@{
}

LOGIN Page

@if (!string.IsNullOrEmpty(Model.Error))
{
    <div class="alert alert-danger" role="alert">
        @Model.Error
    </div>
}


<div class="container border " style="padding:20px;">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="form-group row">
            <span class="text-danger" asp-validation-for="Usr.Email"></span>
            <div class="col-2">
                <label asp-for="Usr.Email"></label>
            </div>
            <div class="col-5">
                <input type="email" asp-for="Usr.Email" class="form-control" />
            </div>
        </div>

        <div class="form-group row mt-2">
            <span class="text-danger" asp-validation-for="Usr.Password"></span>
            <div class="col-2">
                <label asp-for="Usr.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="Usr.Password" class="form-control" />
            </div>
        </div>

        <div class="form-group row mt-2">
            <div class="col2">
                <input type="submit" value="Login" class="btn btn-outline-dark" />
            </div>
        </div>

    </form>
</div>