@page "{id?}/{handler?}"
@model lngCollector.Pages.Bunch.DeletedViewModel
@{
}

<div class="col-2">
    <a asp-page="/matrix/all" class="btn">
        <img src="/img/icons8-back-48.png" />
    </a>
</div>
<hr/>
<div class="row">
    @foreach (var item in Model.Matrixes)
    {
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card-deck">

                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">

                    <div class="card-header">

                        <div class="row">
                            <div class="col-2">
                                <a asp-page="/matrix/deletedview" asp-page-handler="kill" asp-route-id="@item.id" class="btn btn-outline-danger">kill</a>
                            </div>
                            <div class="col-2">
                                <a asp-page="/matrix/deletedview" asp-page-handler="restore" asp-route-id="@item.id" class="btn btn-outline-success">restore</a>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                @item.name
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="card-text">words : X | sentences : Y</div>
                         <hr />
                        <p class="card-text text-truncate">
                            @item.content_short
                        </p>
                    </div>
                </div>

            </div>
        </div>
    }
</div>